<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"> 
	<link type="text/css" rel="stylesheet" href="css/style.css"> 
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css"> 
	<title>notfound</title>
</head>
<body>
    <h1>404</h1>
    <h2>la pagina a la cual desea acceder no existe</h2>
    <li class="nav-item-md"><a href="/main" class="nav-link active" aria-current="page">volver</a></li>
</body>
</html>