<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"> 
	<link type="text/css" rel="stylesheet" href="/css/style.css"> 
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.css"> 
	<title>bgmdieselrepuestos</title>
</head>
<body class="text-md-start">
	<div class="container bg-info text-dark p-3-md">
	<div class="container-md ">
		  <header class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom-">
			<a href="/" class="container d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			  <span class="fs-4 ">BGM Diesel</span>
			</a>
	  
			<ul class="nav nav-pills-md ">
			  <li class="nav-item-md"><a href="/main" class="nav-link active" aria-current="page">inicio</a></li>
			  <li class="nav-item-md"><a href="/productos" class="nav-link">Productos</a></li>
			  <li class="nav-item-md"><a href="/productos/crear" class="nav-link">crear productos</a></li>
			  <li class="nav-item-md"><a href="/users" class="nav-link">perfil</a></li>
			  <li class="nav-item-md"><a href="#" class="nav-link">Contacto</a></li>
			</ul>
		  </header>






<div class="container-md"><hr></div>

<form method="post" action="/productos/crear" enctype="multipart/form-data">
    <div class="container-md ">
    <fieldset enabled>
      <legend>alta, baja y modificacion de producto</legend>
      <div class="mb-3">
        <label for="enabledSelect" class="form-label">elegir opcion</label>
        <select id="enabledSelect" class="form-select">
          <option>crear producto</option>
        </select>
      </div>
      <div class="mb-3">
        <label  class="form-label">nombre del producto</label>
        <input type="text"  placeholder="text"  name="name" class="form-control" >
      </div>
      <div class="mb-3">
        <label  class="form-label">marca del producto</label>
        <input type="text"  placeholder="text"  name="brand" class="form-control" >
      </div>
      <div class="mb-3">
        <label  class="form-label">precio del producto</label>
        <input type="text"  placeholder="text"  name="price"  class="form-control" >
      </div>
      <div class="mb-3">
        <label  class="form-label">descripcion del producto</label>
        <input type="text" placeholder="text"  name="descripction" class="form-control" >
      </div>
      <div class="mb-3">
        <label  class="form-label">imagen del producto</label>
        <input type="file" id="productImage" name="productImage"  class="form-control" >
      </div>
      <button type="submit" class="btn btn-primary">confirmar</button>
    </fieldset>
  </form>
</div>


</body>



<footer class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom-md">
    <a href="/" class="d-flex align-items-center mb text-decoration-none-md text-">
      </a>

  <ul class="nav nav-pills-md">
    <li class="nav-item-md"><a href="#" class="nav-link active" aria-current="page">inicio</a></li>
    <li class="nav-item-md"><a href="#" class="nav-link">Productos</a></li>
    <li class="nav-item-md"><a href="#" class="nav-link">crear productos</a></li>
    <li class="nav-item-md"><a href="#" class="nav-link">perfil</a></li>
    <li class="nav-item-md"><a href="#" class="nav-link">Contacto</a></li>
  </ul>
</footer>
</html>


